.eventLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid white;
  width: 100%;
}

.eventLine:first-child {
  border-bottom: none;
}

.eventList {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-shadow:
    hsla(0,0%,0%, .4) 0 0 0.5em 0.5em;
}