.container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: #1D2329;
    background-image: linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    background-position: 40% 50%;
    background-size: 2px 2px;
    user-select: none;
}

.item {
    background-color: #888;
    padding: 0.4rem;
    cursor: pointer;
    flex-grow: 1;

    box-shadow:
        inset hsla(0,0%,0%, .5) 0 0 0.1em 0.05em, /* Border */
        inset hsla(0,0%,0%, .5) -0.3em -0.3em 1em 0.3em, /* Bottom Right shadow */
        inset hsla(0,0%,100%, 1) 0.5em 0.5em 1em 0.3em; /* Top Left highlight */
}

.button {
    padding: 0.3rem 0.5rem;
    text-align: center;
    font-weight: bold;
    border-radius: 1rem;

    outline: none;
    background-color: hsl(0,0%,70%);
    color: hsla(0,0%,20%,1);

    text-shadow:
        hsla(0,0%,40%,.5) 0 1px 0,
        hsla(0,0%,100%,.6) 0 -2px 1px;

    box-shadow:
        inset hsla(0,0%,60%, 1) 0 0 0.1em 0.1em, /* Border */
        inset hsla(0,0%,100%, 0.4) 0 -1em 0.5em 0.2em, /* Bottom highlight */
        inset hsla(0,0%,0%, 0.2) 0 1em 0.5em 0.2em, /* Top shadow */
        hsla(0,0%,30%, .2) 0 0.3em 0.3em 0.3em, /* Outer bottom shade */
        hsla(0,0%,70%, 0.2) 0 -0.3em 0.3em 0.3em; /* Outer bottom shade */


}

.selected .button {
    color: hsl(210,100%,90%);
    text-shadow:
    hsla(0,0%,40%,.2) 0 1px 0,
    hsla(0,0%,100%,.3) 0 -2px 1px,
    hsla(210,100%,40%,1) 0 0 0.5em,
    hsla(210,100%,40%,1) 0 0 0.8em;
}

.selected {
    box-shadow:
    inset hsla(200,100%,80%,.6) 0 0 0.2em 0.05em, /* Lit border */
    inset hsla(210,100%,40%,.7) 0 0 0.5em 0.2em, /* Border bloom */
    inset hsla(0,0%,0%, .5) -0.3em -0.3em 1em 0.3em, /* Bottom Right shadow */
    inset hsla(0,0%,100%, 1) 0.5em 0.5em 1em 0.3em; /* Top Left highlight */
}

.notSelected {
}
