.box {
  color: black;
  min-width: 3em;
  width: 100%;
  min-height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

li:hover > .box {
  background-color: white;
  box-shadow: 0em 1em 1em 0.5em rgba(0,0,0,0.05) inset;
}

.normal {
  background-color: #f5f5f5;
  box-shadow: 0em 1em 1em 0.5em rgba(0,0,0,0.15) inset;
}

.dim {
  background-color: #7f7f7f;
  box-shadow: none;
}
