.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.eventList {
    resize: vertical;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid black;
}