body {
  margin: 0;
  height: 100vh;
  background-color: slategray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Digit';
  src: local('Digit'), url(./assets/fonts/Digit.TTF) format('truetype');
}

:root {
  font-size: 100%;
  --color-led-h: 39;
  --color-led-foreground: hsla(var(--color-led-h),100%,50%,1);
  --color-led-background: hsla(var(--color-led-h),100%,5%,1);
  --color-led-backlight: hsla(var(--color-led-h),100%,30%,0.4);

  --color-led-foreground-lit: hsla(var(--color-led-h),80%,80%,1);
  --color-led-background-lit: hsla(var(--color-led-h),100%,20%,1);
  --color-led-backlight-lit: hsla(var(--color-led-h),80%,80%,0.5);

  --color-led-foreground-dim: hsla(var(--color-led-h),100%,20%,1);
  --color-led-background-dim: hsla(var(--color-led-h),100%,5%,1);
  --color-led-backlight-dim: hsla(var(--color-led-h),100%,10%,0.3);
}

#root {
  height: 100%;
}